<div class="tf-wrapper">

  <input
    class="tf-input"
    autocomplete="off"
    [id]="controller.id"
    [type]="controller.type"
    [placeholder]="controller.placeholder"
    [disabled]="disabled"
    [readonly]="controller.readOnly"
    [(ngModel)]="value"
    (ngModelChange)="onValueChange()"
  >

  <!-- Label -->
  <span class="tf-label-wrapper">
    <label class="tf-label" [for]="controller.id">
      {{ controller.label }}
    </label>
  </span>

  <div class="tf-messages-wrapper">
    <!-- Error -->
    <div
      class="tf-error-wrapper"
      *ngIf="invalid"
      @fadeInMessages
    >
      <ng-content select="ui-error"></ng-content>
    </div>

    <!-- Hint -->
    <div
      class="tf-hint-wrapper"
      *ngIf="!invalid"
      @fadeInMessages
    >
      <ng-content select="ui-hint:not([align='end'])"></ng-content>
      <div class="tf-hint-spacer"></div>
      <ng-content select="ui-hint[align='end']"></ng-content>
    </div>
  </div>

</div>