@use "text-field.mixins" as mixin;
@use "text-field.component" as variable;

.tf-messages-wrapper {
  @include mixin.inherit;
  height: auto;
  margin-top: 0.3rem;
  padding: 0 1rem;
  position: absolute;
  top: 100%;
  font-size: small;
}

.tf-hint-wrapper {
  display: flex;
}

.tf-hint-spacer {
  flex: 1 0 1rem;
}

.tf-error-wrapper {
  display: flex;
  color: variable.$warn;
}