.ui-option {
  cursor: pointer;

  transition: var(--duration);

  padding: var(--radius-s) var(--padding-l);

  &:hover {
    background-color: var(--page-bg-secondary);
  }

  &.--ui-option-active {
    background-color: var(--page-bg-secondary);
  }

}
