{
  "extends": [
    "@lightech-llc/stylelint-config/scss",
    "@lightech-llc/stylelint-config/angular"
  ],
  "ignoreFiles": [
    "**/dist/**",
    "**/coverage/**",
    "**/node_modules/**",
    "**/.angular/**"
  ]
}