<div
  class="lt-input-wrapper"
  [class.lt-input--filled]="!!value"
  [class.lt-input--invalid]="hasError"
>

  <input
    class="lt-input"
    [id]="id"
    [type]="type"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    (ngModelChange)="onChange($event)"
  >

  <span class="lt-input-label-wrapper">
    <label class="lt-input-label" [for]="id">
      {{ label }}
    </label>
  </span>

  <!-- todo: autocomplete -->
  <ng-container *ngIf="autocomplete">
    {{ autocomplete }}
  </ng-container>

</div>