<ui-dropdown-host
  [disabled]="disabled"
  [(value)]="value"
  (controlValueChange)="onValueChange($event)"
>
  <ui-textbox
    [invalid]="hasError"
    [disabled]="disabled"
    [value]="value"
    (valueChange)="onValueChange($event)"
    (focusChange)="onFocusChange()"
  >
    <!-- Cleaner -->
    <ng-container ngProjectAs="[cleaner]">
      <ui-icon>delete</ui-icon>
    </ng-container>
    <!-- Prefix -->
    <ng-container ngProjectAs="[uiPrefix]">
      <ng-content select="[uiPrefix]"></ng-content>
    </ng-container>
    <!-- Suffix -->
    <ng-container ngProjectAs="[uiSuffix]">
      <ng-content select="[uiSuffix]"></ng-content>
    </ng-container>

    <!-- Error -->
    <ng-container ngProjectAs="ui-error">
      <ng-content select="ui-error"></ng-content>
    </ng-container>

    <!-- Hint -->
    <ng-container ngProjectAs="ui-hint:not([align='end'])">
      <ng-content select="ui-hint:not([align='end'])"></ng-content>
    </ng-container>
    <ng-container ngProjectAs="ui-hint[align='end']">
      <ng-content select="ui-hint[align='end']"></ng-content>
    </ng-container>
  </ui-textbox>

  <!-- Dropdown -->
  <ng-container ngProjectAs="ui-option">
    <ng-content select="ui-option"></ng-content>
  </ng-container>
</ui-dropdown-host>