<p>Badge supports sizes, positions, palette.</p>

<button
  uiRaisedButton
  uiBadge="10"
  uiBadgePosition="above before"
  uiBadgeColor="primary"
  class="me-3"
>
  Above, before
</button>

<button
  uiRaisedButton
  uiBadge="10"
  uiBadgePosition="below before"
  uiBadgeColor="accent"
  class="me-3"
>
  Below, before
</button>

<button
  uiRaisedButton
  uiBadgePosition="above after"
  uiBadgeColor="warn"
  class="me-3"
  [uiBadge]="counter$ | async"
>
  Async value
</button>

<button
  uiRaisedButton
  uiBadge="10"
  uiBadgePosition="below after"
  uiBadgeColor="error"
  class="me-3"
  [uiBadgeHidden]="hidden"
  (click)="toggle()"
>
  Toggle visibility
</button>
