:root {
  // Theme
  --primary: #526ed3;
  --primary-hover: #6c86e2;
  --primary-active: #314692;
  --accent: #3aa981;
  --warn: #dd4c1e;

  // Font
  --text-base-color: #1b1f3b; // Primary text and headings
  --text-secondary-color: rgba(27, 31, 59, 0.65); // Secondary text and descriptions
  --text-inactive-color: rgba(27, 31, 59, 0.4); // Inactive and additional points, minor information and helpers
  --link-color: #526ed3; // Buttons and Links
  --link-hover-color: #6c86e2; // Buttons and Links hover

  --page-bg: #fff;
  --page-bg-secondary: #f6f6f6;
  --block-bg: #ededed; // Table borders, islands and blocks
  --block-bg-hover: #d7d7d7;
}
