/* You can add global styles to this file, and also import other style files */

// CDK Overlay styles
@import '~@angular/cdk/overlay-prebuilt.css';

// Local imports
@import 'bootstrap';
@import 'theme-colors';
@import 'typography';
@import 'box-shadow';
@import 'variables';

/* import to apply table styles */
@import '../../projects/core/styles/ui-components-global';
@import 'projects/kit/ui-table/ui-table';
@import 'projects/kit/ui-badge/badge.base';
//@import "src/app/main/components/ui-badge/badge.base";

body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  color: var(--text-secondary-color);
}

.ui-bgc {
  &-primary {
    background-color: var(--primary);
  }

  &-accent {
    background-color: var(--accent);
  }
}

.main-wrapper {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.main-content {
  overflow: scroll;
}
