<p>
  Determinate mode: large, medium, small sizes.
</p>
<div class="d-flex flex-row align-items-center">
  <ui-progress-circle
    mode="determinate"
    size="large"
    [value]="value$ | async"
    [max]="100">
  </ui-progress-circle>

  <ui-progress-circle
    mode="determinate"
    size="medium"
    color="#3aa981"
    [value]="value$ | async"
    [max]="100">
  </ui-progress-circle>

  <ui-progress-circle
    mode="determinate"
    size="small"
    color="#B33F40"
    [value]="value$ | async"
    [max]="100">
  </ui-progress-circle>
</div>

<p>Indeterminate mode</p>
<ui-progress-circle size="large" color="#e38163"></ui-progress-circle>
