<p>
  Determinate mode: large, medium, small sizes.
</p>
<div class="d-flex flex-row align-items-center" *uiConst="value$ | async as value">
  <ui-progress-circle
    mode="determinate"
    size="large"
    [value]="value"
    [max]="100">
  </ui-progress-circle>

  <ui-progress-circle
    mode="determinate"
    size="medium"
    color="#3aa981"
    [value]="value"
    [max]="100">
  </ui-progress-circle>

  <ui-progress-circle
    mode="determinate"
    size="small"
    color="#B33F40"
    [value]="value"
    [max]="100">
  </ui-progress-circle>
</div>

<p>Indeterminate mode</p>
<div class="d-flex flex-row align-items-center">
  <ui-progress-circle size="large"></ui-progress-circle>
  <ui-progress-circle size="medium" color="#3aa981"></ui-progress-circle>
  <ui-progress-circle size="small" color="#e38163"></ui-progress-circle>
</div>
