<ui-input
  class="col-3 py-2"
  uiTextboxLabel="User"
  uiTextboxPlaceholder="Select user from the dropdown"
  uiDropdownEnabled="true"
  [uiDropdownDisplayAs]="displayUser"
  [formControl]="userControl"
>
  <ui-option
    *ngFor="let user of users$ | async"
    [value]="user"
  >
    {{ user.name }}
  </ui-option>
</ui-input>

<ui-input
  class="col-3 py-2"
  uiTextboxLabel="User"
  uiTextboxPlaceholder="Select user from the dropdown"
  uiTextboxSize="small"
>
  <ui-icon uiSuffix>delete</ui-icon>
</ui-input>

<ui-input
  class="col-3 py-2"
  uiTextboxLabel="User"
  uiTextboxPlaceholder="Select user from the dropdown"
  uiTextboxSize="large"
>
  <ui-icon uiPrefix class="me-1">info_o</ui-icon>
  <ui-icon uiPrefix class="me-1">info_o</ui-icon>
</ui-input>
