$primary: #526ed3;
$accent: #3aa981;
$warn: #dd4c1e;
$error: #b33f40;

$lighten-primary-amount: 30%;
$lighten-bgc-amount: 56%;
$darken-font-color-amount: 5%;

.ui-message-wrapper {
  min-height: 3.25rem;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: var(--radius-m);

  &[color='primary'] {
    color: darken($primary, $darken-font-color-amount);
    background-color: lighten($primary, $lighten-primary-amount);
  }

  &[color='accent'] {
    color: darken($accent, $darken-font-color-amount);
    background-color: lighten($accent, $lighten-primary-amount);
  }

  &[color='warn'] {
    color: darken($warn, $darken-font-color-amount);
    background-color: lighten($warn, $lighten-primary-amount);
  }

  &[color='error'] {
    color: darken($error, $darken-font-color-amount);
    background-color: lighten($error, $lighten-primary-amount);
  }
}

.ui-message-label {
  line-height: 1.563rem;
  pointer-events: none;
}

.ui-font-size-14 {
  font-size: 0.875rem;
}
