:root {
  --duration: 350ms;
  --padding-xs: 0.25rem;
  --padding-s: 0.75rem;
  --padding-m: 0.75rem;
  --padding-l: 1rem;
  --padding-large: 1.25rem 1rem 0.3rem;
  --padding-medium: 1rem 0.75rem 0.1rem;
  --padding-small: 0 0.75rem;
  --height-l: 3.5rem;
  --height-m: 2.75rem;
  --height-s: 2rem;
  --height-xs: 1.5rem;
  --radius-xs: 0.25rem;
  --radius-s: 0.5rem;
  --radius-m: 0.625rem;
  --radius-l: 0.625rem;
}
