@import "~@angular/cdk/overlay-prebuilt.css";

// Local imports
@import "bootstrap";
@import "theme-colors";
@import "typography";
@import "box-shadow";
@import "variables";
@import "dialog";

body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  color: var(--text-secondary-color);
}
