.ui-option {
  --duration: 350ms;
  --padding-l: 1rem;
  --radius-s: 0.5rem;
  --page-bg-secondary: #f6f6f6;

  cursor: pointer;

  transition: var(--duration);

  padding: var(--radius-s) var(--padding-l);

  &:hover {
    background-color: var(--page-bg-secondary);
  }
}
