<p>
  Tooltips may have positions: 'start', 'end', 'top', 'bottom'. Support Palette
  colors.
</p>

<button
  uiRaisedButton
  uiTooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, neque veniam. Ab amet aspernatur assumenda, autem cumque, dolore excepturi illum impedit, incidunt ipsum modi odio odit placeat quasi repellendus voluptatibus."
  uiTooltipPosition="end"
  class="me-3"
>
  Default, end
</button>

<button
  uiRaisedButton
  uiTooltip="Click the button!"
  uiTooltipColor="accent"
  uiTooltipPosition="start"
>
  Accent, bottom
</button>

<button uiRaisedButton uiTooltip="Warning!" uiTooltipColor="warn" class="ms-3">
  Warning, top
</button>

<button
  uiRaisedButton
  uiTooltipColor="primary"
  uiTooltipPosition="bottom"
  class="ms-3"
  [uiTooltip]="icon"
>
  Primary, with custom content
</button>

<ng-template #icon>
  <div class="d-flex align-items-center justify-content-between p-1">
    <ui-icon color="primary" class="me-1">info</ui-icon>
    <span>Be careful here!</span>
  </div>
</ng-template>
