<div class="row justify-content-center">
  <ui-message
    icon="info_o"
    label="Primary"
    subLabel="Some primary text"
    class="col-8 py-2"
  ></ui-message>

  <ui-message
    icon="question_o"
    color="accent"
    label="Accent"
    subLabel="Some accent text"
    class="col-8 pb-2"
  ></ui-message>

  <ui-message
    icon="warning_o"
    color="warn"
    label="Warn"
    subLabel="Some warn text"
    class="col-8 pb-2"
  ></ui-message>

  <ui-message
    icon="error_o"
    color="error"
    label="Error"
    subLabel="Some error text"
    class="col-8 pb-2"
  ></ui-message>
</div>
