<div class="row justify-content-center">

  <ui-message
    class="col-8 py-2"
    icon="info_o"
    label="Primary"
    subLabel="Some primary text">
  </ui-message>

  <ui-message
    class="col-8 pb-2"
    icon="question_o"
    color="accent"
    label="Accent"
    subLabel="Some accent text">
  </ui-message>

  <ui-message
    class="col-8 pb-2"
    icon="warning_o"
    color="warn"
    label="Warn"
    subLabel="Some warn text">
  </ui-message>

  <ui-message
    class="col-8 pb-2"
    icon="error_o"
    color="error"
    label="Error"
    subLabel="Some error text">
  </ui-message>

</div>