<!-- TODO: label could be removed and replaced with elRef.onclick () => input.focus() -->
<label [for]="id">

  <div
    class="ui-input-wrapper"
    [class.ui-input-wrapper--error]="hasError"
    [attr.size]="size"
  >

    <!-- Label -->
    <div
      class="ui-input-label"
      [class.ui-input-label--active]="!!value">
      {{ label }}
    </div>

    <!-- Input -->
    <input
      class="ui-input"
      type="text"
      autocomplete="off"
      [id]="id"
      [placeholder]="placeholder"
      [(ngModel)]="value"
      (ngModelChange)="onChange()"
      (focus)="onFocus()"
    >

    <!-- TODO: Error -->
    <div class="ui-input-error"></div>

    <!-- TODO: Hint -->
    <div class="ui-input-hint"></div>

    <!-- TODO: Success icon -->
    <div class="ui-input-icon"></div>
  </div>

</label>

<div class="ui-input-autocomplete">
  <ng-content select="ui-autocomplete"></ng-content>
</div>
