<p>Base button</p>
<div class="col-4">
  <div class="d-flex justify-content-between">
    <button uiButton>Default</button>
    <button uiButton color="primary">Primary</button>
    <button uiButton color="accent">Accent</button>
    <button uiButton color="warn">Warn</button>
    <button uiButton color="error">Error</button>
  </div>
</div>

<p>Raised button</p>
<div class="col-4">
  <div class="d-flex justify-content-between">
    <button uiRaisedButton>Default</button>
    <button uiRaisedButton color="primary">Primary</button>
    <button uiRaisedButton color="accent">Accent</button>
    <button uiRaisedButton color="warn">Warn</button>
    <button uiRaisedButton color="error">Error</button>
  </div>
</div>

<p>Icon button</p>
<div class="col-4">
  <div class="d-flex justify-content-between">
    <button uiIconButton>
      <ui-icon>question</ui-icon>
    </button>

    <button uiIconButton>
      <ui-icon color="accent">info</ui-icon>
    </button>

    <button uiIconButton>
      <ui-icon color="warn">warning</ui-icon>
    </button>

    <button uiIconButton>
      <ui-icon>delete</ui-icon>
    </button>

    <button uiIconButton>
      <ui-icon color="error">error</ui-icon>
    </button>

    <button uiIconButton>
      <ui-icon>question</ui-icon>
    </button>
  </div>
</div>
