<div class="d-flex pb-2">
  <div class="col-3 me-3">
    <p class="text-truncate">Large size</p>
    <ui-input
      uiTextboxLabel="Large"
      uiTextboxPlaceholder="Large size input"
      uiTextboxSize="large"
    ></ui-input>
  </div>

  <div class="col-3 me-3">
    <p class="text-truncate">Form control, with truncated label, and cleaner</p>
    <ui-input
      uiTextboxLabel="Lorem ipsum dolor sit amet, consectetur"
      uiTextboxPlaceholder="Select user from the dropdown"
      uiTextboxSize="large"
      uiTextboxCleaner="true"
      [formControl]="userControl"
    >
      <ui-error>This field is required!</ui-error>
      <ui-hint align="end">The hint is here!</ui-hint>
    </ui-input>
  </div>
</div>

<div class="d-flex pb-2">
  <div class="col-3 me-3">
    <p class="text-truncate">Medium size</p>
    <ui-input
      uiTextboxLabel="Medium"
      uiTextboxPlaceholder="Medium size input"
    ></ui-input>
  </div>

  <div class="col-3 me-3">
    <p class="text-truncate">With prefix</p>
    <ui-input
      uiTextboxLabel="With prefix"
      uiTextboxPlaceholder="Select user from the dropdown"
    >
      <ui-icon uiPrefix class="me-1">info_o</ui-icon>
    </ui-input>
  </div>
</div>

<div class="d-flex pb-2">
  <div class="col-3 me-3">
    <p class="text-truncate">Small size</p>
    <ui-input
      uiTextboxLabel="Small"
      uiTextboxPlaceholder="Small size input"
      uiTextboxSize="small"
    ></ui-input>
  </div>

  <div class="col-3 me-3">
    <p class="text-truncate">With suffix</p>
    <ui-input
      uiTextboxLabel="With suffix"
      uiTextboxPlaceholder="Select user from the dropdown"
      uiTextboxSize="small"
    >
      <span uiSuffix>px</span>
    </ui-input>
  </div>
</div>
