<div class="row align-items-center py-3" style="height: 400px">

  <div class="col-3">
    <ui-input
      label="User"
      placeholder="Select user or enter username">
    </ui-input>
  </div>

  <div class="col-3 ml-3">
    <ui-input
      label="Form Control input"
      placeholder="Test validations"
      [formControl]="userControl"
      [uiAutocomplete]="autoUser">
      <ui-autocomplete #autoUser="uiAutocomplete" [displayWith]="displayUser">
        <ui-option
          *ngFor="let user of users"
          [value]="user">
          {{ user.name }}
        </ui-option>
      </ui-autocomplete>
    </ui-input>
  </div>

</div>
