<div class="textbox-wrapper">
  <!-- Prefix -->
  <div class="textbox-prefix">
    <div></div>
    <ng-content select="[uiPrefix]"></ng-content>
  </div>

  <div class="textbox-infix">
    <input
      #inputRef
      autocomplete="off"
      class="textbox-input"
      [id]="controller.id"
      [type]="controller.type"
      [placeholder]="controller.placeholder"
      [disabled]="disabled"
      [readonly]="controller.readOnly"
      [(ngModel)]="value"
      (ngModelChange)="onValueChange()"
    />

    <!-- Label -->
    <span class="textbox-label-wrapper">
      <label class="textbox-label" [for]="controller.id">
        {{ controller.label }}
      </label>
    </span>
  </div>

  <!-- Suffix -->
  <div class="textbox-suffix">
    <!-- Cleaner -->
    <div *ngIf="hasCleaner" class="textbox-cleaner" @fade (click)="onClean()">
      <ng-content select="[cleaner]"></ng-content>
    </div>

    <ng-content select="[uiSuffix]"></ng-content>
  </div>

  <div class="textbox-messages-wrapper">
    <!-- Error -->
    <div *ngIf="invalid" class="textbox-error-wrapper" @fadeIn>
      <ng-content select="ui-error"></ng-content>
    </div>

    <!-- Hint -->
    <div *ngIf="!invalid" class="textbox-hint-wrapper" @fadeIn>
      <ng-content select="ui-hint:not([align='end'])"></ng-content>
      <div class="textbox-hint-spacer"></div>
      <ng-content select="ui-hint[align='end']"></ng-content>
    </div>
  </div>
</div>
