@use 'text-box.component' as variable;

.textbox-messages-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: auto;
  margin-top: 0.3rem;
  padding: 0 1rem;
  font-size: small;
  box-sizing: border-box;
  pointer-events: none;
}

.textbox-hint-wrapper {
  display: flex;
}

.textbox-hint-spacer {
  flex: 1 0 1rem;
}

.textbox-error-wrapper {
  display: flex;
  color: variable.$warn;
}
