@use "text-box.component" as variable;

.textbox-messages-wrapper {
  width: inherit;
  height: auto;
  margin-top: 0.3rem;
  padding: 0 1rem;
  position: absolute;
  top: 100%;
  left: 0;
  font-size: small;
}

.textbox-hint-wrapper {
  display: flex;
}

.textbox-hint-spacer {
  flex: 1 0 1rem;
}

.textbox-error-wrapper {
  display: flex;
  color: variable.$warn;
}