@import "ui-input-variables";


/* Wrapper, Sizes, Wrapper on Focus, Wrapper on Error */
.ui-input-wrapper {
  &[size = 'large'] {
    @include size(--padding-large, --radius-l);
  }
  &[size = 'medium'] {
    @include size(--padding-medium, --radius-m);
  }
  &[size = 'small'] {
    @include size(--padding-small, --radius-s);
    .ui-input-label { visibility: hidden }
  }

  cursor: text;
  background-color: var(--page-bg);
  outline: 0 solid hsl(0deg 0% 0% / 0%);

  position: relative;

  -webkit-font-smoothing: antialiased;

  transition: var(--duration);
  transition-timing-function: ease-in-out;
  @include box-shadow(1);

  &:focus-within {
    outline: 2px solid var(--primary);
    @include box-shadow(0);

    .ui-input-label {
      bottom: 50%;
      font-size: small;
      color: var(--text-base-color);
    }
  }

  /*--- Error --*/
  &--error {
    outline: 2px solid var(--warn);
    &:focus-within {
      .ui-input-label { color: var(--warn); }
    }
  }

  &:hover:not(:focus-within) {
    @include box-shadow(2);
  }
}

/* Input, Placeholder, Input on Focus */
.ui-input {
  border: 0;
  outline: 0;

  &::placeholder {
    visibility: hidden;
    color: var(--text-inactive-color);
  }

  &:focus::placeholder {
    visibility: initial;
  }
}

/* Label */
.ui-input-label {
  position: absolute;
  bottom: 32%;

  font-size: inherit;
  color: var(--text-secondary-color);

  transition: var(--duration);

  &--active {
    bottom: 50%;
    font-size: small;
    color: var(--text-base-color);
  }
}
