@import "src/styles/box-shadow";

:host {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.ui-dropdown-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--page-bg);
  border-radius: var(--radius-l);
  overflow-y: scroll;

  font: var(--font-text-m);

  @include box-shadow(1);

  //opacity: 0;
  //animation-fill-mode: forwards;
  //animation-timing-function: ease-in-out;
  //animation-duration: var(--duration);
  //animation-name: autocomplete-visibility;
}

@keyframes autocomplete-visibility {
  from {
    margin-bottom: 100%;
    opacity: 0;
  }
  to {
    margin-bottom: 0;
    opacity: 1;
  }
}
